html{
    font-family: sans-serif,'cursive';
}

body{
    margin: 0 auto;
}

#section2{
    display: none;
}
#section3{
    display: none;
}

.heading{
    text-align: center;
    margin-bottom: 4px;
    margin-top: 50px;
}

h5{
    color:#7091F5;
}
.container h3{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.container h5{
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.container-pic{
    display: flex;
    justify-content: center;
}

.container{
    text-align: center;
    color:#F6635C;
    margin-top: 3px;
    margin-bottom: 3px;
}

.btnn{
    display: none;
}
